*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body{
    background: url(../img/intro1.gif);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
}

section{
    color: #fff;
    background-color: rgb(41, 40, 40);
    border: 2px solid rgb(110, 102, 88);
    margin: 3rem;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
}

h2{
    color: #aca197;
    font-size:19px;
    left: 0.5rem;
}

.img3 {
    margin: .5rem;
    float: left;
}

a{
    color:#aca197;
    text-decoration: none;
}

.cambio{
    padding-top: 5rem;
    padding-right: 4rem;
    float: right;
    font-family: monospace;
}